# Administración
ADMIN_USER=
ADMIN_PASSWORD=

# ActiveCampaign
AC_URL=
AC_KEY=

# GitHub OAuth / Auth
GITHUB_ID=
GITHUB_SECRET=
NEXTAUTH_SECRET=
NEXTAUTH_URL=

# Analítica pública
NEXT_PUBLIC_META_PIXEL_ID=
